[submodule "module_00"]
	path = module_00
	url = https://github.com/JorFik/CPP_module_00.git
[submodule "module_01"]
	path = module_01
	url = https://github.com/JorFik/CPP_module_01.git
[submodule "module_02"]
	path = module_02
	url = https://github.com/JorFik/CPP_module_02.git
[submodule "module_03"]
	path = module_03
	url = https://github.com/JorFik/CPP_module_03.git
[submodule "module_04"]
	path = module_04
	url = https://github.com/JorFik/CPP_module_04.git
[submodule "module_05"]
	path = module_05
	url = https://github.com/JorFik/CPP_module_05.git
[submodule "module_06"]
	path = module_06
	url = https://github.com/JorFik/CPP_module_06.git
